<div *ngIf="isLoading">Loading...</div>

<table *ngIf="!isLoading" class="table">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>Assignee</th>
      <th>Completed</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ticket of ticketsWithUsers">
      <td>
        <button class="btn btn-secondary" (click)="view.emit(ticket.id)">
          View
        </button>
        <button class="btn btn-secondary" (click)="assign.emit(ticket.id)">
          Assign
        </button>
        <button
          class="btn btn-secondary"
          *ngIf="!ticket.completed"
          (click)="complete.emit(ticket.id)"
        >
          Complete
        </button>
      </td>
      <td>{{ ticket.assigneeName }}</td>
      <td>{{ ticket.completed ? 'Yes' : 'No' }}</td>
      <td>{{ ticket.description }}</td>
    </tr>
  </tbody>
</table>
